.chead 
	border-bottom: 1px solid black
	height: 20px
	text-align: left
	margin-bottom: 10px
	margin-top: 10px
	overflow: hidden
	div
		font-weight:bold

.seperate-line
	background: #F15A24;
	color: white
	padding: 3px

.crow
	padding: 8px 0

	a.btn
		margin: 0 5px