.selection
	clear: left
	overflow: hidden

	.layout
		width: 350px
		margin: 5px
		float: left
		background: white

	.selected
		border: 2px solid #F15A24

	._label
		background: #FFEE86
		color: black
		padding: 5px
		font-weight: bold

	._description, ._checkbox
		padding: 5px